*{
  margin: 5px;
  padding: 0px;
}

.pageContent{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  border-bottom: 1px solid black;
  padding: 0.7em 3em;
  color: rgb(237, 188, 97);
}

.comments{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}